:root {
  --dark: #3e3b36;
  --light: #c1c0b6;
  --white: #fafafa;
  --black: #131313;
  --light-elevation: #b8b7ad;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf') format('opentype');
}

a {
  color: var(--dark);
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Satoshi', sans-serif;
  color: var(--dark);
  background-color: var(--dark);
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Main authorization page */

.auth-container {
  background-color: var(--light);
  margin: 3rem 3rem;
  height: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

/* header of authorization page */

nav {
  border-bottom: 1px solid var(--dark);
  padding: 1rem 1rem;
  justify-content: space-between;
}

.login-btn {
  background-color: var(--dark);
  font-size: 1rem;
  border: 1px solid var(--light);
  padding: 1rem 1rem;
  color: var(--light-elevation);
}

.login-btn:hover {
  background-color: var(--light-elevation);
  color: var(--dark);
}

.chat-icon {
  width: 3rem;
  height: 3rem;
}

.chat-name {
  font-size: 1.5rem;
}

.icon-name-container {
  gap: .6rem;
}

/* sign up form */

main {
  width: 40rem;
  margin: 0 auto;
}

main h1, main p {
  text-align: center;
}

.inputs {
  gap: .6rem;
  justify-content: center;
}

input::placeholder {
  color: var(--dark);
  font-weight: light;
  font-size: .8rem;
}

.signup-input {
  height: 2rem;
  width: 25rem;
  background-color: var(--light);
  border: none;
  border-bottom: 1px solid var(--dark);
  font-size: 1rem;
  letter-spacing: .1rem;
}

fieldset {
  border: 1px solid transparent;
}

form {
  align-items: center;
  margin-bottom: 7.5rem;
  height: 100%;
}

.signup-btn {
  font-size: 1rem;
  background-color: var(--light);
  border: 1px solid var(--dark);
  color: var(--black);
  padding: .6rem 1rem;
  margin-top: 2rem;
}

.signup-btn:hover {
  background-color: var(--dark);
  color: var(--light-elevation);
}

footer {
  justify-content: center;
  color: var(--light);
  gap: .3rem;
  align-items: center;
  margin-bottom: .5rem;
}

footer a {
  color: var(--light);
  text-decoration: underline;
}

/* Message main window */

.users-list {
  border-right: 1px solid var(--dark);
  padding-right: 1rem;
  width: 20rem;
  margin: 1rem 1rem;
}

.user-icon {
  width: 3rem;
}

.username-header {
  align-items: center;
  gap: 1rem;
}

.username-header h4 {
  margin: 0;
  padding: 0;
}

.user-brief-left {
  border: 1px solid var(--dark);
  border-radius: 10px;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.user-brief-left h4, .user-brief-left p {
  margin: 0;
}